# dependencias
node_modules/
.pnp/
.pnp.*

# next.js
.next/
out/
dist/
build/
.eslintcache
.turbo/

# ambiente
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# tests
coverage/

# SO / editores
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# vercel / deploy
.vercel/
